---
# You can import another layout (wrapper, in this case) and build on top of it
layout: "wrapper"
# You can add custom layout variables
author: "author name"
---

<!-- Main page -->
<div class="container-fluid">
    <!--Top row -->
    <div class="row">
        <div class="col-md-10">
        <!--Use the title of the current page we are viewing-->
        <h1>{{page.title}}</h1>
        <h5>Written by: {{layout.author}}</h5>
        </div>
        <div class="col-md-1">
        <!-- User Input [DOESNT WORK ON STATIC WEBSITES]-->
        <button type="button" class="btn btn-primary mt-2" onclick="geolocate()">Geolocate</button>
        </div>
    </div>
    
    <hr>
      <!--Second Row -->
      <div class="row">
        <div class="col-md-9">
          <!-- Map -->
          <!--Liquid markup language, use this to alter the layout-->
          {{content}}
        </div>
      </div>
    </div>